body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #3B4252;
}

.boton {
  padding: 10px;
  font-size: 1em;
  width: 200px;
  margin: 10px;
  background-color: #5E81AC;
  border: 1px solid #ccc;
  border-color: #5E81AC;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}


